<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script>
	var mouseDown = false
	var redVal = 0
	var greenVal = 0
	var blueVal = 0

	$("#redvalue").mousedown(function() {
		mouseDown = true;
		updateSliders()
	});
	$("#greenvalue").mousedown(function() {
		mouseDown = true;
		updateSliders()
	});
	$("#bluevalue").mousedown(function() {
		mouseDown = true;
		updateSliders()
	});


	$("#redvalue").mouseup(function() {
		mouseDown = false;
	});
	$("#greenvalue").mouseup(function() {
		mouseDown = false;
	});
	$("#bluevalue").mouseup(function() {
		mouseDown = false;
	});

	function updateSliders() {
		if (mouseDown) {
			redVal = $("#redvalue").val();
			greenVal = $("#greenvalue").val();
			blueVal = $("#bluevalue").val();


			$("#redval").css('color', 'rgb(' + redVal + ', 0, 0)');
			$("#greenval").css('color', 'rgb(0, ' + greenVal + ', 0)');
			$("#blueval").css('color', 'rgb(0, 0, ' + blueVal+ ')');

			$("#outcolor").css('color', 'rgb(' + redVal + ', ' + greenVal + ', ' + blueVal + ')');
			setTimeout(updateSliders(), 50);
		}
	}
	</script>
	</head>
	<body>
		
	<label id="redval">RED</label>
	<input type="range" value=0 min=0 max=255 id="redvalue">
	<label id="greenval">GREEN</label>
	<input type="range" value=0 min=0 max=255 id="greenvalue">
	<label id="blueval">BLUE</label>
	<input type="range" value=0 min=0 max=255 id="bluevalue">
	<label id="outcolor">LED COLOR</label>
	</body>
</html>

